@model IEnumerable<QLNhaHang.Models.Ban>
@foreach (var item in Model)
{
    <div class="grid-item @(item.TrangThai.HasValue && item.TrangThai.Value ? "occupied" : "available")">
        <p><strong>Bàn @item.MaBan</strong></p>
        <p>@item.SoLuongNguoi người</p>
        <p>Vị trí: @item.ViTri</p>
        <div class="actions">
            <a class="btn btn-warning btn-sm" asp-action="CapNhatBan" asp-route-maBan="@item.MaBan">Cập nhật</a>
            @if (!item.TrangThai.HasValue || !item.TrangThai.Value)
            {
                <a class="btn btn-success btn-sm btnDB" id="btnDatBan" asp-action="DatBan" asp-route-maBan="@item.MaBan" title="Đặt bàn này" asp-route-tenKH="@ViewBag.TenKH" asp-route-sdt="@ViewBag.Sdt" asp-route-ngayDB="@ViewBag.NgayDatBan" asp-route-soNguoiDi="@ViewBag.SoNguoiDi">Đặt bàn</a>
            }
            @if (item.TrangThai.HasValue && item.TrangThai == true)
            {
                <a class="btn btn-success btn-sm" asp-action="XemThongTinDatBan" asp-route-maBan="@item.MaBan" title="XemThongTin" asp-route-floor="@ViewData["CurrentFloor"]"
                   asp-route-date="@ViewData["SelectedDate"]">Xem thông tin</a>
                <a class="btn btn-primary btn-sm btnGM" asp-action="GoiMon" asp-route-maBan="@item.MaBan" title="XemThongTin" asp-route-floor="@ViewData["CurrentFloor"]"
                   asp-route-date="@ViewData["SelectedDate"]">Gọi Món</a>
            }
        </div>
    </div>
}
