@model IPagedList<QLNhaHang.Models.SoLuongTrongCa>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "View";
}
<table class="table table-striped table-hover mt-3 mb-3">
    <thead>
        <tr>
            <th>Mã Quản Lý </th>
            <th>Ca Làm</th>
            <th>Ngày</th>
            <th>Số Lượng Nhân Viên Tối Đa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaQuanLy)
                </td>
                <td>
                    @{
                        string thoiGianBatDauStr = "";
                        string thoiGianKetThucStr = "";

                        var thoiGianBatDau = item.MaCaNavigation.ThoiGianBatDau;
                        var thoiGianKetThuc = item.MaCaNavigation.ThoiGianKetThuc;

                        // Kiểm tra nếu có giá trị (không null)
                        if (thoiGianBatDau.HasValue && thoiGianKetThuc.HasValue)
                        {
                            var thoiGianBatDauDateTime = DateTime.Today.Add(thoiGianBatDau.Value);  // Dùng .Value để truy xuất giá trị thực của TimeSpan
                            var thoiGianKetThucDateTime = DateTime.Today.Add(thoiGianKetThuc.Value);  // Dùng .Value để truy xuất giá trị thực của TimeSpan

                            // Chuyển TimeSpan cộng với DateTime thành chuỗi với định dạng AM/PM
                            thoiGianBatDauStr = thoiGianBatDauDateTime.ToString("hh:mm tt");
                            thoiGianKetThucStr = thoiGianKetThucDateTime.ToString("hh:mm tt");
                        }
                        else
                        {
                            thoiGianBatDauStr = "Không có thông tin";
                            thoiGianKetThucStr = "Không có thông tin";
                        }
                    }
                    @thoiGianBatDauStr - @thoiGianKetThucStr
                </td>

                <td>
                    @(item.Ngay.ToString("MM/dd/yyyy"))
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongToiDa)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="ChiTietSoLuongTrongCaList" asp-route-maQuanLy="@item.MaQuanLy">Chi Tiết</a>
                    @if (item.Ngay.Date >= DateTime.Today.AddDays(7).Date)
                    {
                        <a class="btn btn-warning btn-sm" asp-action="CapNhatSoLuongTrongCa" asp-route-maQuanLy="@item.MaQuanLy">Cập Nhật</a>
                    }
                    <a class="btn btn-danger btn-sm" asp-action="XoaSoLuongTrongCa" asp-route-maQuanLy="@item.MaQuanLy" onclick="return confirm ('Bạn muốn thực hiện xóa không ?')">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="pagination">
    @Html.PagedListPager(
            Model,
            page => "javascript:loadPage(" + page + ")",
            new X.PagedList.Mvc.Core.PagedListRenderOptions
    {
        ContainerDivClasses = new[] { "pagination-container" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        ActiveLiElementClass = "active"
    }
            )
</div>
