@model IPagedList<QLNhaHang.Models.DangKyCa>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    Layout = "Header";
    ViewData["Title"] = "ChiTietDSDangKyCa";
}

<h2>Danh Sách Chi Tiết Đăng Ký Ca</h2>
<table class="table table-striped table-hover mt-3 mb-3">
    <thead>
        <tr>
            <th>Mã Quản Lý</th>
            <th>Mã NV</th>
            <th>Tên NV</th>
            <th>Vị Trí Công Việc</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaQuanLy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaNvNavigation.MaNv)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.MaNvNavigation.TenNv)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.MaNvNavigation.MaViTriCvNavigation.TenViTriCv)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div id="pagination">
    @Html.PagedListPager(
            Model,
            page => Url.Action("ChiTietDSDangKyCa", new { maQuanLy = ViewData["MaQuanLy"], page }),
            new X.PagedList.Mvc.Core.PagedListRenderOptions
    {
        ContainerDivClasses = new[] { "pagination-container" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        ActiveLiElementClass = "active"
    }
            )
</div>
<a class="btn btn-primary" asp-controller="Admin" asp-action="DanhSachDangKyList">Quay Lại Danh Sách</a>